/**
    Stylesheet for index.xhtml
    @author defq0n
*/
.container {
    min-width: 1280px;
    min-height: 720px;
}

h2, .header {
    vertical-align: middle;
    font-size: 100px;
}

.header {
    color: #EFEFEF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #333333;
    width: 1280px;
    height: 120px;
    margin-top: -100px;
}

.background {
    background-color: rgb(238, 238, 238);
    width: 1280px;
    height: 720px;
    margin: 0 auto;
}

.image-container {
    min-width: 1280px;
    min-height: 720px;
    background-image: url("movies.png");
    background-repeat: no-repeat;
}

.information-container {
    min-width: 1280px;
    height: 400px;   
}

.information-left {
    background-color: #EFEFEF;
    font-family: 'Montserrat', sans-serif;
    width: 640px;
    float: left;
}

.information-right {
    background-color: #EFEFEF;
    font-family: 'Montserrat', sans-serif;
    width: 640px;
    float: left;
}

#information-headers {
    color: #00CCD6;
    font-size: 30px;
}

#information-text {
    color: #424242;
    text-indent: 1em;
}

.footer {
    margin-top: -.5%;
    color: #EFEFEF;
    background-color: #333333;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 1280px;
    height: 60px;
}

button {
    display: block;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    background-color: #00CCD6;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #EFEFEF;
}

.button-container {
    width: 120px;
    margin: 0 auto;
    padding-top: 320px;
}
