body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    height: 50px;
    background-color: #333333;
    margin-bottom: -.5%;
    width: 100%;
    margin-top: -1.5%;
}

.container {
    width: 720px;
    height: 150px;
    margin: 0 auto;
    background-color: honeydew;
}

.form {
    margin: auto;
}

.form-container {
    display: flex;
}

h2 {
    text-align: center;
}

h1 {
    color: #EFEFEF;
    padding-left: 15px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #EFEFEF;
}

footer {
    background-color: #333333;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 99%;
}

footer p {
    color: #EFEFEF;
    text-align: center;
}